<html>

	<head>
		<title>Ola's blog</title>
	</head>

	<body>
		<div>
			<h1><a href="">Django Girls Blog</a></h1>
		</div>

		<div>
			<p>published : 14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>KUALA LUMPUR: Prime Minister Datuk Seri Najib Razak is not among the individuals accused of wrongdoing in a Swiss investigation into alleged misappropriation of funds involving 1Malaysia Development Bhd (1MDB). A report by Nikkei Asian Review quoted Andre Marty, the spokesman for the Office of the Attorney-General in Switzerland, as saying that Najib was not among those being probed. "In the ongoing criminal proceeding of the OAG, Mr. Najib Razak is not one of the public officials under accusation," Marty was quoted as saying. The statement comes in the wake of a statement by the Swiss OAG that former Malaysian officials, as well 'persons unknown', had been involved in misappropriation of funds.</p>
		</div>

		<div>
			<p>published : 14.06.2014, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>KUALA LUMPUR: Prime Minister Datuk Seri Najib Razak is not among the individuals accused of wrongdoing in a Swiss investigation into alleged misappropriation of funds involving 1Malaysia Development Bhd (1MDB). A report by Nikkei Asian Review quoted Andre Marty, the spokesman for the Office of the Attorney-General in Switzerland, as saying that Najib was not among those being probed. "In the ongoing criminal proceeding of the OAG, Mr. Najib Razak is not one of the public officials under accusation," Marty was quoted as saying. The statement comes in the wake of a statement by the Swiss OAG that former Malaysian officials, as well 'persons unknown', had been involved in misappropriation of funds.</p>
		</div>






	</body>
</html>